{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Lead Frame Description {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div class="jumbotron p-3">

                <a href="/lead_type" class="navbar-brand">
                    <h3>{{ lead_type.lead_no }} {{lead_type.title}}</h3>
                </a>

                <button type="button" style="margin:5px;" class="btn btn-success float-right" data-toggle="modal"
                        data-target="#mymodal"><i class="fa fa-plus"></i> Add Lead Frame</button>

                <div class="form-group pull-right" style="margin:5px;">
                    <input type="text" class="form-control" id="mySearch" placeholder="Search">
                </div>

                </br>
                </br>


                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}

                {% if category=="error" %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>

                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>

                        {{ message }}
                    </div>
                {% endif %}

                {% endfor %}
                {% endif %}
                {% endwith %}


                <table id="myTable" class="table table-hover table-sm text-center">
                    <thead>
                        <tr>
                            <th>Lot No.</th>
                            <th>Row Location</th>
                            <th>Received Date</th>
                            <th>Expiry Date</th>
                            <th>Manufacturing Date</th>
                            <th>Project Leader</th>
                            <th>Record Reff</th>
                            <th>Invoice No.</th>
                            <th>Purchasing Order</th>
                            <th>Incoming Qty</th>
                            <th>Withdraw Date</th>
                            <th>Withdraw Qty</th>
                            <th>Withdraw By</th>
                            <th>Withdraw Purpose</th>
                            <th>Latest Balance</th>
                            <th>Transaction Type</th>
                            <th>Expiry Status</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>



                    {% for lead in lead_descriptions %}
                    <tr>
                        <td>{{ lead.lot_no }}</td>
                        <td>{{ lead.row_location }}</td>
                        <td>{{ lead.received_date }}</td>
                        <td>{{ lead.expiry_date }}</td>
                        <td>{{ lead.manufacturing_date }}</td>
                        <td>{{ lead.project_leader }}</td>
                        <td>{{ lead.record_reff }}</td>
                        <td>{{ lead.invoice_no }}</td>
                        <td>{{ lead.purchasing_order }}</td>
                        <td>{{ lead.incoming_qty }}</td>
                        <td>{{ lead.withdraw_date }}</td>
                        <td>{{ lead.withdraw_qty }}</td>
                        <td>{{ lead.withdraw_by }}</td>
                        <td>{{ lead.withdraw_purpose }}</td>
                        <td>{{ lead.balance }}</td>
                        <td class="trans_type" id="trans_type">{{ lead.trans_type }}</td>
                        <td class="expiry_status" id="expiry_status">{{ lead.expiry_date }}</td>


                        {% if lead.trans_type=="incoming" %}
                        <td>
                            <a href="/lead_description/update/{{lead.lead_description_id}}" class="btn" data-toggle="modal"
                               data-target="#modaledit{{lead.lead_description_id}}"><i class="fa fa-pencil"></i></a>
                        </td>
                        {% endif %}

                        <td>
                            <a href="/lead_description/delete/{{lead.lead_description_id}}" class="btn"
                               onclick="return confirm('Are You Sure To Delete?')"><i class="fa fa-trash-o"></i></a>
                        </td>

                        {% if lead.trans_type == "incoming" %}
                        <td class="withdraw" id="withdraw">
                            <a href="/lead_description/withdraw/{{lead.lead_description_id}}" class="btn btn-danger"
                               data-toggle="modal" data-target="#modalwithdraw{{lead.lead_description_id}}"><i class="fa fa-sign-in"></i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>



                  <!-- Modal Edit Material-->
<div id="modaledit{{lead.lead_description_id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <h4 class="modal-title">Update Lead Frame Description</h4>
         </div>

         <div class="modal-body">
            <form action="/lead_description/update/{{ lead.lead_description_id }}" method="POST">

                    {% if lead.incoming_qty == lead.balance %}

                    <div class="form-group">
                        <label>Lot No.:</label>
                        <input type="text" class="form-control" name="lot_no" value="{{lead.lot_no}}" required>
                    </div>

                    <div class="form-group">
                        <label>Row Location:</label>
                        <input type="text" class="form-control" name="lot_no" value="{{lead.row_location}}" required>
                    </div>

                    <div class="form-group">
                        <label>Received Date:</label>
                        <input type="date" class="form-control" name="received_date" value="{{lead.received_date}}" required>
                    </div>

                    <div class="form-group">
                        <label>Expiry Date:</label>
                        <input type="date" class="form-control" name="expiry_date" value="{{lead.expiry_date}}" required>
                    </div>

                    <div class="form-group">
                        <label>Manufacturing Date:</label>
                        <input type="date" class="form-control" name="manufacturing_date" value="{{lead.manufacturing_date}}" required>
                    </div>


                    <div class="form-group">
                        <label>Project Leader:</label>
                        <input type="text" class="form-control" name="project_leader" value="{{lead.project_leader}}" required>
                    </div>

                    <div class="form-group">
                        <label>Record Reff:</label>
                        <input type="text" class="form-control" name="record_reff" value="{{lead.record_reff}}" required>
                    </div>

                    <div class="form-group">
                        <label>Invoice No.:</label>
                        <input type="text" class="form-control" name="invoice_no" value="{{lead.invoice_no}}" required>
                    </div>

                    <div class="form-group">
                        <label>Purchasing Order:</label>
                        <input type="text" class="form-control" name="project_leader" value="{{lead.purchasing_order}}" required>
                    </div>

                    <div class="form-group">
                        <label>Incoming Qty:</label>
                        <input type="number" class="form-control" name="incoming_qty" value="{{lead.incoming_qty}}" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>

                    {% endif %}


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>



                    <!--Modal Withdraw Material-->

<div id="modalwithdraw{{lead.lead_description_id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <h4 class="modal-title">Withdraw lead frame</h4>
         </div>

         <div class="modal-body">
            <form action="/lead_description/withdraw/{{ lead.lead_description_id }}" method="POST">

                    <div class="form-group">
                        <label>Withdraw Date:</label>
                        <input type="date" class="form-control" name="withdraw_date" required>
                    </div>

                    <div class="form-group">
                        <label>Withdraw Qty:</label>
                        <input type="number" class="form-control" name="withdraw_qty" required>
                    </div>

                    <div class="form-group">
                        <label>Withdraw By:</label>
                        <input type="text" class="form-control" name="withdraw_by" required>
                    </div>

                    <div class="form-group">
                        <label>Withdraw Purpose:</label>
                        <input type="text" class="form-control" name="withdraw_purpose" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Withdraw</button>
                    </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>



                  <!-- Modal Add Material-->
<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add Lead Frame Description</h4>
         </div>

         <div class="modal-body">
            <form action="/lead_description/insert/{{ lead_type.lead_type_id }}" method="POST">

                    <div class="form-group">
                        <label>Lot No.:</label>
                        <input type="text" class="form-control" name="lot_no" required>
                    </div>

                    <div class="form-group">
                        <label>Row Location:</label>
                        <input type="text" class="form-control" name="row_location" required>
                    </div>

                    <div class="form-group">
                        <label>Received Date:</label>
                        <input type="date" class="form-control" name="received_date" required>
                    </div>

                    <div class="form-group">
                        <label>Expiry Date:</label>
                        <input type="date" class="form-control" name="expiry_date" required>
                    </div>

                    <div class="form-group">
                        <label>Manufacturing Date:</label>
                        <input type="date" class="form-control" name="manufacturing_date" required>
                    </div>

                    <div class="form-group">
                        <label>Project Leader:</label>
                        <input type="text" class="form-control" name="project_leader" required>
                    </div>

                    <div class="form-group">
                        <label>Record Reff:</label>
                        <input type="text" class="form-control" name="record_reff" required>
                    </div>

                    <div class="form-group">
                        <label>Invoice No.:</label>
                        <input type="text" class="form-control" name="invoice_no" required>
                    </div>

                    <div class="form-group">
                        <label>Purchasing Order</label>
                        <input type="text" class="form-control" name="purchasing_order" required>
                    </div>

                    <div class="form-group">
                        <label>Incoming Qty:</label>
                        <input type="number" class="form-control" name="incoming_qty" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>

            </form>


         </div>


         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>


      </div>


   </div>


</div>





        </div>

    </div>


</div>


{% endblock %}