{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Lead Frame Inventory {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div class="jumbotron p-3">

                <button class="btn btn-primary" onclick="exportData()">
                    Export to CSV
                </button>

                <div class="form-group pull-right">
                    <input type="text" class="form-control" id="mySearch" placeholder="Search">
                </div>
                </br>
                </br>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>

                {{message}}
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}

                <table id="myTable" class="table table-hover table-sm text-center">
                    <thead>
                        <tr>
                            <th>Lead Frame No.</th>
                            <th>Supplier</th>
                            <th>Package No.</th>
                            <th>Title</th>
                            <th>Lot No.</th>
                            <th>Row Location</th>
                            <th>Received Date</th>
                            <th>Expiry Date</th>
                            <th>Manufacturing Date</th>
                            <th>Project Leader</th>
                            <th>Record Reff</th>
                            <th>Invoice No.</th>
                            <th>Purchasing Order</th>
                            <th>Balance</th>
                            <th>Material Release Status</th>
                            <th>Expiry Status</th>
                        </tr>
                    </thead>



                    {% for lead_types, lead_descriptions in leads %}
                    {% if lead_descriptions.trans_type=="incoming" %}
                    <tbody>
                    <tr>
                        <td>{{ lead_types.lead_no }}</td>
                        <td>{{ lead_types.supplier }}</td>
                        <td>{{ lead_types.package_no }}</td>
                        <td>{{ lead_types.title }}</td>
                        <td>{{ lead_descriptions.lot_no }}</td>
                        <td>{{ lead_descriptions.row_location }}</td>
                        <td>{{ lead_descriptions.received_date }}</td>
                        <td>{{ lead_descriptions.expiry_date }}</td>
                        <td>{{ lead_descriptions.manufacturing_date }}</td>
                        <td>{{ lead_descriptions.project_leader }}</td>
                        <td>{{ lead_descriptions.record_reff }}</td>
                        <td>{{ lead_descriptions.invoice_no }}</td>
                        <td>{{ lead_descriptions.purchasing_order }}</td>
                        <td>{{ lead_descriptions.balance }}</td>
                        <td>{{ lead_descriptions.release_status }}</td>
                        <td class="expiry_status" id="expiry_status">{{ lead_descriptions.expiry_date }}</td>

                        <td>
                            <a href="/lead_description/update/{{lead_descriptions.lead_description_id}}" class="btn"
                               data-toggle="modal" data-target="#modaledit{{lead_descriptions.lead_description_id}}">
                                <i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    </tbody>
                    {% endif %}


                  <!-- Modal Edit Material-->
<div id="modaledit{{lead_descriptions.lead_description_id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <h4 class="modal-title">Update Lead Frame Information</h4>
         </div>

         <div class="modal-body">
            <form action="/lead_inventory/update/{{ lead_descriptions.lead_description_id }}" method="POST">

                    <div class="form-group">
                        <label>Balance:</label>
                        <input type="number" class="form-control" name="balance" value="{{lead_descriptions.balance}}" required>
                    </div>

                    <div class="form-group">
                        <label>Material Release Status:</label>
                        <input type="hidden" value="{{lead_descriptions.release_status}}">
                        <select class="form-control" name="release_status" required>
                            <option value="">Select A Release Status</option>
                            <option value="Reject">Reject</option>
                            <option value="On Hold">On Hold</option>
                            <option value="Release">Release</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>

                    {% endfor %}
                </table>

            </div>


        </div>

    </div>

</div>


{% endblock %}