{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Mold Compound Inventory {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div class="jumbotron p-3">

                <button class="btn btn-primary" onclick="exportData()">
                    Export to CSV
                </button>

                <div class="form-group pull-right">
                    <input type="text" class="form-control" id="mySearch" placeholder="Search">
                </div>
                </br>
                </br>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>

                {{message}}
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}

                <table id="myTable" class="table table-hover table-sm text-center">
                    <thead>
                        <tr>
                            <th>Material Description</th>
                            <th>Supplier</th>
                            <th>Pellet Size (mm*g)</th>
                            <th>Part No.</th>
                            <th>Weight (kg)</th>
                            <th>Lot No.</th>
                            <th>Received Date</th>
                            <th>Expiry Date</th>
                            <th>Manufacturing Date</th>
                            <th>Project Leader</th>
                            <th>Latest Balance (kg)</th>
                            <th>Material Release Status</th>
                            <th>Expiry Status</th>
                        </tr>
                    </thead>



                    {% for mold_types, mold_descriptions in molds %}
                    {% if mold_descriptions.trans_type=="incoming" %}
                    <tbody>
                    <tr>
                        <td>{{ mold_types.mold_name }}</td>
                        <td>{{ mold_types.supplier }}</td>
                        <td>{{ mold_types.pellet_size }}</td>
                        <td>{{ mold_types.part_no }}</td>
                        <td>{{ mold_types.weight }}</td>
                        <td>{{ mold_descriptions.lot_no }}</td>
                        <td>{{ mold_descriptions.received_date }}</td>
                        <td>{{ mold_descriptions.expiry_date }}</td>
                        <td>{{ mold_descriptions.manufacturing_date }}</td>
                        <td>{{ mold_descriptions.project_leader }}</td>
                        <td>{{ mold_descriptions.balance }}</td>
                        <td>{{ mold_descriptions.release_status }}</td>
                        <td class="expiry_status" id="expiry_status">{{ mold_descriptions.expiry_date }}</td>
                    </tr>
                    </tbody>
                    {% endif %}


                  <!-- Modal Edit Material-->
<div id="modaledit{{mold_descriptions.mold_description_id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <h4 class="modal-title">Update Mold Compound Information</h4>
         </div>

         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>

                    {% endfor %}
                </table>

            </div>


        </div>

    </div>

</div>


{% endblock %}