{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Mold Compound Type {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div class="jumbotron p-3">

                    <button type="button" style="margin:5px;" class="btn btn-success float-right" data-toggle="modal"
                        data-target="#mymodal"><i class="fa fa-plus"></i> Add Mold Compound Type</button>

                    <div class="form-group pull-right" style="margin:5px;">
                        <input type="text" class="form-control" id="mySearch" placeholder="Search">
                    </div>

                    <h3>Please select (or add) a mold compound type:</h3>

                    </br>
                    </br>


                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>

                {{message}}
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}

                <table id="myTable" class="table table-hover table-sm text-center">
                    <thead>
                        <tr>
                            <th>Mold Type</th>
                            <th></th>
                            <th>Supplier</th>
                            <th></th>
                            <th>Pellet Size (mm*g)</th>
                            <th></th>
                            <th>Part No.</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>



                    {% for mold in mold_types %}
                    <tr>
                        <td>{{ mold.mold_name }}</td>
                        <td></td>
                        <td>{{ mold.supplier }}</td>
                        <td></td>
                        <td>{{ mold.pellet_size }}</td>
                        <td></td>
                        <td>{{ mold.part_no }}</td>
                        <td></td>

                        <td>
                            <a href="/mold_type/update/{{mold.mold_type_id}}" class="btn" data-toggle="modal"
                               data-target="#modaledit{{mold.mold_type_id}}"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td></td>
                        <td>
                            <a href="/mold_type/delete/{{mold.mold_type_id}}" class="btn"
                               onclick="return confirm('Are You Sure To Delete?')"><i class="fa fa-trash-o"></i></a>
                        </td>
                        <td></td>
                        <td>
                            <a href="/mold_type/{{ mold.mold_type_id }}" class="btn btn-success" >Select</a>
                        </td>
                    </tr>



                  <!-- Modal Edit Material-->
<div id="modaledit{{mold.mold_type_id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <h4 class="modal-title">Update Mold Compound Type</h4>
         </div>

         <div class="modal-body">
            <form action="{{url_for('update_mold_type')}}" method="POST">

                    <div class="form-group">
                        <label>Mold Compound Type:</label>
                        <input type="hidden"  name="mold_type_id" value="{{mold.mold_type_id}}">
                        <input type="text" class="form-control" name="mold_name" value="{{mold.mold_name}}" required>
                    </div>


                    <div class="form-group">
                        <label>Supplier:</label>
                        <input type="text" class="form-control" name="supplier" value="{{mold.supplier}}" required>
                    </div>

                    <div class="form-group">
                        <label>Pellet Size (mm*g):</label>
                        <input type="text" class="form-control" name="pellet_size" value="{{mold.pellet_size}}" required>
                    </div>

                    <div class="form-group">
                        <label>Part No.:</label>
                        <input type="text" class="form-control" name="part_no" value="{{mold.part_no}}" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>



                  <!-- Modal Add Material-->
<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add Mold Compound Type</h4>
         </div>

         <div class="modal-body">
            <form action="{{url_for('insert_mold_type')}}" method="POST">

                    <div class="form-group">
                        <label>Mold Compound Type:</label>
                        <input type="text" class="form-control" name="mold_name" required>
                    </div>

                    <div class="form-group">
                        <label>Supplier:</label>
                        <input type="text" class="form-control" name="supplier" required>
                    </div>

                    <div class="form-group">
                        <label>pellet Size (mm*g):</label>
                        <input type="text" class="form-control" name="pellet_size" required>
                    </div>

                    <div class="form-group">
                        <label>Part No.:</label>
                        <input type="text" class="form-control" name="part_no" required>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>

            </form>


         </div>


         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>


      </div>


   </div>


</div>





        </div>

    </div>


</div>


{% endblock %}